# Add any directories, files, or patterns you don't want to be tracked by version control
CodingSoldier/bin/*
CodingSoldier/obj/*
.vs/*
CodingSoldier/Properties/PublishProfiles/FolderProfile.pubxml.user
CodingSoldier/CodingSoldier.csproj.user
