@{
    ViewBag.Title = "Certifications";
}

<h2>Certifications:</h2>
<br />

<ul>
    @foreach (var cert in ViewBag.Certifications)
    {
        <li>
            @if (!string.IsNullOrEmpty(cert.ExternalUrl))
            {
                <a href="@cert.ExternalUrl" target="_blank">@cert.Name</a>
            }
            else
            {
                <a href="/certifications/@cert.UrlPath" target="_blank">@cert.Name</a>
            }
        </li>
    }
</ul>
