@{
    ViewBag.Title = ViewBag.Me;
}

<fieldset>
    <legend style="font-weight:600">
        @ViewBag.Title
    </legend>
    <ul>
        <li>Lead Software Engineer working in Logitech</li>
        <li>Overall work experience of 11+ years</li>
        <li>Primary technical expertise in C# .NET and JavaScript</li>
        <li>Secondary technical expertise in C++ and Python</li>
        <li>Experience working in SQL and NoSQL DB's</li>
        <li>Passionate towards technology</li>
        <li>Cloud expertise in AWS and Azure</li>
        <li>Swiftly learns new technologies</li>
        <li>Curious and asks questions</li>
        <li>Loves solving problems</li>
        <li>Takes pride in the code that I write</li>
        <li>Draws inspiration and learn from the geeks</li>
        <li>Run marathons and plays badminton</li>
        <li>Write blogs</li>
    </ul>
</fieldset>
    <br />
    <fieldset>
        <legend>Favorite geeks</legend>
        <ul>
            <li><a href="https://twitter.com/jonskeet" target="_blank">Jon Skeet</a></li>
            <li><a href="http://ericlippert.com/" target="_blank">Eric Lippert</a></li>
            <li><a href="http://odetocode.com/about/scott-allen" target="_blank">Scott Allen</a></li>
            <li><a href="http://www.wintellect.com/devcenter/author/jeffreyr" target="_blank">Jeffrey Richter</a></li>
            <li><a href="https://github.com/getify" target="_blank">Kyle Simpson</a></li>
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Favorite books</legend>
        <ul>
            <li><a href="https://www.oreilly.com/library/view/clr-via-c/9780735668737/" target="_blank">CLR via C#</a></li>
            <li><a href="https://csharpindepth.com/" target="_blank">C# in Depth</a></li>
            <li><a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS</a></li>
            <li><a href="http://shop.oreilly.com/product/9780596007126.do" target="_blank">Head First Design Patterns</a></li>
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Some of my favorite links</legend>
        <ul>
            <li><a href="https://www.pluralsight.com/" target="_blank">PluralSight</a></li>
            <li><a href="https://github.com/donnemartin/system-design-primer" target="_blank">System Design</a></li>
            <li><a href="https://medium.com/better-programming/10-extraordinary-github-repos-for-all-developers-939cdeb28ad0" target="_blank">GitHub repo collection for developers</a></li>
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Certifications</legend>
        <ul>
            @foreach (var cert in ViewBag.Certifications)
            {
                <li>
                    @if (!string.IsNullOrEmpty(cert.ExternalUrl))
                    {
                        <a href="@cert.ExternalUrl" target="_blank">@cert.Name</a>
                    }
                    else
                    {
                        <a href="/certifications/@cert.UrlPath" target="_blank">@cert.Name</a>
                    }
                </li>
            }
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Other places to find me</legend>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/boneyjohns/" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/bnyjohns" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="https://stackoverflow.com/users/5933587/boney" target="_blank">StackOverFlow</a>
            </li>
            <li>
                <a href="https://www.hackerrank.com/bnyjohns" target="_blank">HackerRank</a>
            </li>
            <li>
                <a href="http://boneyjohns.blogspot.com/" target="_blank">Personal Blog</a>
            </li>
            <li>
                <a href="https://leetcode.com/bnyjohns/" target="_blank">LeetCode</a>
            </li>
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Contact details</legend>
        <ul>
            <li>
                <a href="mailto:bnyjohns@gmail.com">bnyjohns@gmail.com</a>
            </li>
        </ul>
    </fieldset>
