@{
    ViewBag.Title = "Coding Soldier - Boney Johns";
}

<div class="row">
    <div class="col-md-12">
        <b>Prologue</b>
    </div>
</div>
<div class="row row-bottom-margin">
    <div class="col-md-12">
        Software industry keeps evolving all the time. And as a developer working in the industry, it is our responsibility to stay updated.<br/>
        Progressive learning is the key. Learning also helps us to remain sharp and solve problems easily.<br />
        Learning can be done by reading, watching videos or listening to podcasts. But nothing beats learning by practising.
        It also helps if we teach about or create a post on the concept, so that it remains clear.<br/>
        Here I’m writing <a target="_blank" href="/posts/">posts</a> about the various topics that I have learned over time.
        Also sharing my <a target="_blank" href="/studies/">studies</a>, which helps in the easy lookup of concepts/commands.<br />
        And <a href="https://github.com/bnyjohns/codingsoldier" target="_blank">here</a> is the source code for this site.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <b>Update</b>
    </div>
</div>
<div class="row row-bottom-margin">
    <div class="col-md-12">
        I created this site years back in 2015.
        After having seen and worked on numerous websites, it was a wish to create a website on my own and deploy it in production.
        Actually it helped me in many ways:
        <ul>
            <li>To learn the DevOps aspect of websites. Domain name purchase, Hosting, Webservers, NameServers etc</li>
            <li>Brand of my own, where I can post my learnings and findings</li>
            <li>As a project that I can use to migrate between different technologies and in turn learn that technology</li>
        </ul>
        Of late, I don't do much updates to this site. I mostly publish my updates to <a href="https://github.com/bnyjohns" target="_blank">GitHub</a> which I find much easier to maintain.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>Evolution</b>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="row-bottom-margin">
            <li>ASP.NET MVC 5 hosted on IIS in Windows EC2 instance. Database was SQL server DB <i>(Initial version)</i></li>
            <li>Node.js (express) and jade template engine hosted on Windows EC2 instance. Database was MongoDb</li>
            <li>React 15 and Node.js (express) hosted on Windows EC2 instance. Database was MongoDb</li>
            <li>ASP.NET CORE 2.0 hosted on AWS Linux EC2 instance. Database was SQLite. Kestrel server and Nginx as RP</li>
            <li>ASP.NET CORE 2.2 hosted on AWS Lambda. Database is SQLite</li>
            <li>ASP.NET CORE 3.1 hosted on AWS Lambda. Database is SQLite <i>(Latest version)</i></li>
        </ul>
        <b>Notable mentions</b>
        <ul>
            <li><a href="https://hub.docker.com/r/bnyjohns/codingsoldier-with-nginx/" target="_blank">Docker Image</a> for CodingSoldier</li>
            <li>Hosting in Azure Web App</li>
        </ul>
    </div>
</div>
